policy_module(bwrap-selinux-sandbox, 2.0)

gen_require(`
        type unconfined_t;
        type sandbox_t;
	type sandbox_min_t;
	type sandbox_x_t;
        type sandbox_web_t;
	type sandbox_net_t;
	type sandbox_net_client_t;
        class process2 { nnp_transition nosuid_transition };
')

gen_tunable(sandbox_x_allow_userns, false)
gen_tunable(sandbox_net_allow_userns, false)
gen_tunable(sandbox_net_client_allow_userns, false)

allow unconfined_t sandbox_t:process2 { nnp_transition nosuid_transition };
allow unconfined_t sandbox_min_t:process2 { nnp_transition nosuid_transition };
allow unconfined_t sandbox_x_t:process2 { nnp_transition nosuid_transition };
allow unconfined_t sandbox_web_t:process2 { nnp_transition nosuid_transition };
allow unconfined_t sandbox_net_t:process2 { nnp_transition nosuid_transition };
allow unconfined_t sandbox_net_client_t:process2 { nnp_transition nosuid_transition };

tunable_policy(`sandbox_x_allow_userns', `
	sandbox_allow_userns(sandbox_x_t)
');
tunable_policy(`sandbox_net_allow_userns', `
	sandbox_allow_userns(sandbox_net_t)
');
tunable_policy(`sandbox_net_client_allow_userns', `
	sandbox_allow_userns(sandbox_net_client_t)
');
